body {
	background-color: rgba(100,200,255, 1);

}

th {
	background-color: rgba(255,255,255, 0.5);
	border: 1px solid white;
}

td {
	background-color: rgba(255,255,255, 0.3);
	border: 1px solid white;
}

h4 {
	text-align: center;
	padding-bottom: 1em;
}

ul {
	list-style-type: none;
}

select {
    border: 1px solid white;
    background-color: rgba(0,0,0,0);
}

.edit-btn {
	background-image: url("/static/img/edit-pencil.png");
}

.add-btn {
	background-image: url("/static/img/add.png");
}

.view-btn {
	background-image: url("/static/img/view.png");

}

.delete-btn {
	background-image: url("/static/img/trash.png");
}

.icon {
	width: 15px;
	height: 15px;

	background-size: 100%;
	background-repeat: no-repeat;
	background-color: rgba(0,0,0,0);
	border: none;
}

.content {
	background-color: rgba(255,255,255, 0.7);
	border: solid 1px white;
	padding: 1em;
}

.main {
	width: 100%;
	border-radius: 3px;
	padding: 3em;
}

.centered {
	display: block;
	text-align: center;
}

.scrollable {
	overflow: scroll;
}

.navbar {
	background-color: rgba(255,255,255, 0.7);
	opacity: 0.8;

	border: 1px solid white;
}

.container-fluid {
	padding: 0px;
}

.floater-box {
	height: 200px;
}

.my-modal {
	background-color: rgba(255,255,255, .9);
	border: solid 1px white;
	padding: 1em;
}

#agenda {
	height: 500px;
}

#nearby-events {
	height: 700px;
}

#welcome-box {
	width: 100%;
	margin: 0 auto;
}

.day {
	border-right: solid 1px white;
	display: inline-block;
	padding: 1em;
	height: 400px;
}

.alert-warning {
	color: #618dae;
	background-color: #edfcd9;
}