body {
	background-color: rgba(100,200,255, 1);
}

.main {
	background-color: rgba(255,255,255, 0.7);
	border: solid 1px white;
}

.navbar {
	background-color: rgba(255,255,255, 0.7);
	opacity: 0.8;

	border: 1px solid white;
}

.container-fluid {
	padding: 0px;
}

.floater-box {
	height: 200px;
}

#agenda {
	height: 500px;
}

#nearby-events {
	height: 700px;
}

#welcome-box {
	width: 500px;
	margin: 0 auto;
	padding: 3em;
}

.day {
	border-right: solid 1px white;
	display: inline-block;
	padding: 1em;
	height: 400px;
}