<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/travelapp.css">

		<title>
			TravelApp | 
			{% block title %}TITLE GOES HERE{% endblock %}
		</title>
	</head>
	<body>
		<div class="container-fluid">

			<!-- Navigation Bar -->
			<nav class="navbar navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button"
								class="navbar-toggle collapsed"
								data-toggle="collapse"
								data-target="#navbar-collapse-1"
								aria-expanded="false">
					       <span class="sr-only">Toggle navigation</span>
					       <span class="icon-bar"></span>
					       <span class="icon-bar"></span>
					       <span class="icon-bar"></span>
					    </button>
					    <a class="navbar-brand" href="/">Home</a>
					</div>
					<div class="collapse navbar-collapse" id="navbar-collapse-1">

						<ul class="nav navbar-nav navbar-right">
							{% if 'user_id' in session.keys() %}
								<li>
									<a href="/trips">
										Trips
									</a>
								</li>
								<li>
									<a href="/user{{ session['user_id']}}/profile">
										{{ session['fname'] }}'s Profile
									</a>
								</li>
								<li>
									<a href="/logout" type="button" class="btn">Log Out</a>
								</li>
							{% else %}
								<li>
									<a href="/signup" type="button" class="btn">Sign Up</a>
								</li>
								<li>
									<a href="/login" type="button" class="btn">Log In</a>
								</li>
							{% endif %}
						</ul>
						
					</div>
				</div>
			</nav>
			  <!-- Show flashed messages -->
			{% with messages = get_flashed_messages() %}
			    {% for message in messages %}
			        <div class="alert alert-warning">{{ message }}</div>
		        {% endfor %}
			{% endwith %}
			
			<!-- Main Content -->
			{% block content %}

			{% endblock %}
		</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
		<!--<script src="/static/travelapp.js"></script> -->
		{% block scripts %}

		{% endblock %}
	</body>
</html>