{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row">
	<div class="col-xs-0 col-sm-3"></div>
	<div class="col-xs-12 col-sm-6">
		<div id="welcome-box" class="content main centered">
		<!-- Main Content Div -->
			{% block div_content %}
				Welcome to this website.<br> This is what it does.<br> Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.
			{% endblock %}
		</div>
	</div>
	<div class="col-xs-0 col-sm-3"></div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div id="event-streams" data-cities="{{ citiesJSON }}">
			{% for city in cities %}
			<div id={{ city }} style="display:inline-block; padding: 1em">
				<div id="stream-div-{{ city }}" class="scrollable" style="height: 200px; width: 200px">
					<ul class="events" id="{{ city }}-events"></ul>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}



{% block scripts %}
<script>

// Functions
function getEvents() {

	// iterate thru cities
	var citiesJSON = $("#event-streams").data("cities");
	var cities = Object.keys(citiesJSON);

	cities.forEach(function (city) {
		var data = { "venue.city": city,
					 "token": "6OLY723AIVYNJBX63FFX",
					 "sort_by": "best",
					 "popular": 1,
					 "price": "free"
					};
		url = "https://www.eventbriteapi.com/v3/events/search/"

		// request events for that city
		$.get(url, data, function(result) {

			// add city name to DOM
			var cityName = $('<h3>')
							.text(city);
			$("#" + city).prepend(cityName);

			var events = result.events;
			events.forEach(function(event) {
				var nameLink = $('<li>')
					.attr('href', event.resource_uri)
					.text(event.name.text)

				$("#" + city + "-events").append(nameLink);
			})
		})
	});
}

// Event listeners
// $(document).ready(getEvents);

</script>
{% endblock %}