{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row">
	<div class="col-xs-12 centered" style="padding: 2%">
		<h1 class="headline"><b><i>¡Vámonos!</i></b></h1>
		<h3>Plan your travel. Together.</h3>
		<h6><i>Powered by Eventbrite</i></h6>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 centered" id="event-streams" data-cities="{{ citiesJSON }}">
		<!-- <h3>Browse Cities</h3> -->
		{% for city in cities %}
			<div class="city-div" data-toggle="tooltip" title="Browse events in {{ city }}">
				<img src="/static/img/{{ city }}.jpg" class="city-img" data-target="#modal-{{ city }}" data-city="{{ city }}">
				<h3>{{ city }}</h3>
			</div>
		{% endfor %}
	</div>
</div>
<div class="row" style="height: 500px">
	<div class="col-xs-12 centered">
		{% for city in cities %}
			<div id="{{ city }}-events-div" class="city-events-div" style="width: 60%; margin: 20px auto 0; display: none">
				<table class="table" style="margin-bottom: 0">
					<thead>
						<th class="centered">Events in {{ city }}</th>
					</thead>
				</table>
				<div class="scrollable" style="height: 340px">
					<table class="table" style="margin: 0">
						<tbody id="{{ city }}-events"></tbody>
					</table>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}



{% block scripts %}
<script src="/static/home.js"></script>
<script>

// Event listeners
$(document).ready(getEvents);
$('.city-div').click(toggleEventsDiv);

</script>
{% endblock %}