{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row">
	<div class="col-xs-12 centered no-div" style="padding: 2%">
		<h1><b><i>¡Vámonos!</i></b></h1>
		<h3>Plan your travel. Together.</h3>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 centered" id="event-streams" data-cities="{{ citiesJSON }}" style="display:inline-block; margin-top: 5em">
		<!-- <h3 class="no-div">Browse Cities</h3> -->
		{% for city in cities %}
			<div class="city-div" style="display:inline-block; background-color: white">
				<div class="city-img" data-target="#modal-{{ city }}">
					<img src="/static/img/{{ city }}.jpg" data-city="{{ city }}" style="max-width: 100%">
				</div>
				<h3 class="">{{ city }}</h3>
			</div>
		{% endfor %}
	</div>
</div>
<div class="row" style="height: 500px">
	<div class="col-xs-12 centered">
		{% for city in cities %}
			<div id="{{ city }}-events-div" class="city-events-div" style="width: 60%; margin: 20px auto 0; display: none">
				<table class="table" style="margin-bottom: 0">
					<thead>
						<th>Event</th>
						<th>Description</th>
					</thead>
				</table>
				<div class="scrollable" style="height: 380px">
					<table class="table" style="margin: 0">
						<tbody id="{{ city }}-events"></tbody>
					</table>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}



{% block scripts %}
<script>

// Functions
function getEvents() {

	// iterate thru cities
	var citiesJSON = $("#event-streams").data("cities");
	var cities = Object.keys(citiesJSON);

	cities.forEach(function (city) {
		var data = { "venue.city": city,
					 "token": "6OLY723AIVYNJBX63FFX",
					 "sort_by": "best",
					 "popular": 1
					};
		url = "https://www.eventbriteapi.com/v3/events/search/"

		// request events for that city
		$.get(url, data, function(result) {

			var events = result.events;

			events.forEach(function(event) {
				var eventHTML = '<tr>\
									<td>' + event.name.text + '</td>\
									<td>\
										<div style="height: 100px" class="scrollable">' + event.description.text + '</div>\
									</td>\
								</tr>';

				$("#" + city + "-events").append(eventHTML);
			})
		})
	});
}

function toggleEventsDiv(evt) {
	var city = evt.target.dataset.city;
	
	$('.city-div').removeClass('active-droppable');
	$('.city-events-div').hide('fast');

	var eventsElement = $('#' + city + '-events-div');

	if (! eventsElement.is(":visible")) {
		$(this).addClass('active-droppable');
		$('#' + city + '-events-div').show();
	};
}

// Event listeners
$(document).ready(getEvents);
$('.city-div').click(toggleEventsDiv);

</script>
{% endblock %}