{% extends 'base.html' %}

{% block content %}
<div class="col-xs-0 col-sm-3"></div>
<div class="col-xs-12 col-sm-6">
	<div class="content main centered">
		<h4>Login</h4>
		<form action="/login" method="POST" id="login-form">
			<label class="form-group">
				<input class="form-control" type="email" name="email" placeholder="email">
			</label>
			<br>
			<label class="form-group">
				<input class="form-control" type="password" name="password" placeholder="password">
			</label>
			<br>
			<label class="form-group" id="login-submission">
				<input class="form-control" type="submit" value="enter">
			</label>
		</form>

	</div>
</div>
<div class="col-xs-0 col-sm-3"></div>
{% endblock %}