{% extends 'base.html' %}

{% block title %}Trip Planner{% endblock %}

{% block content %}

<div class="col-xs-0 col-sm-3"></div>
<div class="col-xs-12 col-sm-6">
	<div class="content main centered">
		<h3 style="display:inline-block">{{ user.fname }} {{ user.lname }}</h3>
		{% if user.user_id == session['user_id'] %}
		<span data-toggle="tooltip" title="hello">
			<button style="display:inline-block" type="button" class="icon phone-btn btn btn-default btn-xs" data-toggle="modal" data-target="#edit-phone"></button>
		</span>
		{% endif %}

		<h5>Friends:</h5>
		{% for friend_id, fname, img_url in friends %}
			<a href="/user{{ friend_id }}/profile">
				<img src="{{ img_url }}" style="width: 60px">
				{{ fname }}
			</a> <br>
		{% endfor %}

		<form action="/add_friend" method="POST"><h5>Add a friend:</h5>
			<label>
				<input type="email" name="email" id="email" placeholder="email">
			</label>
			<label>
				<input type="submit" value="+" class="btn btn-info btn-sm">
			</label>
		</form>
	</div>
<!-- Edit Phone Modal -->
	<!-- Modal Window-->
	<div id="edit-phone" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
	    	<div class="modal-content my-modal">
	    		<div class="modal-header centered">
	    			<button type="button" class="close" data-dismiss="modal">&times;</button>
	        		<h4 class="modal-title">Add Phone Number</h4>
	      		</div>
	      		<div class="modal-body centered">

					<!-- Edit Destination Form -->
			        <form method="POST">
			        	<label class="form-group">
			        		<input type="text" name="phone" id="phone">
			        	</label>
			        	<label class="form-group">
			        		<input class="form-control btn btn-info" type="submit" value="Submit" id="phone-submit">
			        	</label>
			        </form>

			    </div>
	  		</div>
		</div>
	</div>
</div>
<div class="col-xs-0 col-sm-3"></div>
{% endblock %}


{% block scripts %}
<script>

function submitPhone(evt) {
	evt.preventDefault();
	var phone = $('#phone').val();
	var formInputs = { 'phone': phone };

	$.post("/add_phone", formInputs);
}

$('#phone-submit').click(submitPhone);

</script>
{% endblock %}