{% extends 'base.html' %}

{% block title %}Signup{% endblock %}

{% block content %}
<div class="col-xs-0 col-sm-3"></div>
<div class="col-xs-12 col-sm-6">
	<div class="content main centered">
		<h4>Sign Up</h4>
		<form method="POST" id="signup-form">
			<label class="form-group">
				<input class="form-control" id="email-field" type="email" name="email" placeholder="email">
			</label>
			<br>
			<label class="form-group">
				<span id="password-warning" class="hidden">Your password must be 6 characters or longer.</span>
				<input class="form-control" type="password" name="password" id="password-field" placeholder="password">
			</label>
			<br>
			<label class="form-group">
				<input class="form-control" id="fname-field" type="text" name="fname" placeholder="first name">
			</label>
			<br>
			<label class="form-group">
				<input class="form-control" id="lname-field" type="text" name="lname" placeholder="last name">
			</label>
			<br>
			<label class="form-group" id="login-submission">
				<input class="form-control" type="submit" value="enter">
			</label>
		</form>
	</div>
</div>
<div class="col-xs-0 col-sm-3"></div>
{% endblock %}

{% block scripts %}
<script>

// Functions

function validatePassword() {
	var pswd = $('#password-field').val();

	if (pswd.length < 6) {
		$('#password-warning').removeClass('hidden');
	} else {
		$('#password-warning').addClass('hidden');
	};
}

// Event Listeners

$('#password-field').on('change', validatePassword);


</script>
{% endblock %}