{% extends 'base.html' %}

{% block title %}Trips{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-0 col-sm-3"></div>
	<div class="col-xs-12 col-sm-6">
		<div class="content main">
			<h4 class="centered">Trips</h4>
			{% if trip_tuples %}
				{% for title, trip_id in trip_tuples %}
					<a href='/trip{{ trip_id }}' class="centered">{{ title }}</a>
				{% endfor %}
			{% else %}
			<p class="centered">You haven't created any trips yet.</p>
			{% endif %}
			<a href="/create_trip" class="centered"><i>Create a new trip!</i></a>
		</div>
	</div>
	<div class="col-xs-0 col-sm-3"></div>
</div>
{% endblock %}