{% extends 'base.html' %}

{% block title %}{{ trip.title }}{% endblock %}

{% block content %}
<div class="row">
<!-- Nearby Events -->
	{% if can_edit %}
	<div class="col-xs-3">
		<div id="nearby-events" class="content" data-latitude={{ trip.latitude }} data-longitude={{ trip.longitude }}>
			<h4>Nearby Events</h4>
			<div class="scrollable" style="height: 600px">
				<ul id="events-list"></ul>
			</div>
		</div>
	</div>
	{% endif %}
	<div class="col-xs-9">
		<div class="row">
<!-- Permissions -->
			<div class="col-xs-12 col-sm-6">
				<div class="content floater-box scrollable">
					<h4>Permissions</h4>
					{% if admin %}
						<form>
							<label class="form-group">
								<select id="friend_id">
									{% for name, friend_id in friends %}
										<option value="{{ friend_id }}">
											{{ name }}
										</option>
									{% endfor %}
								</select>
							</label>
							<label class="form-group">
								<input type="hidden" name="trip_id" value="{{ trip.trip_id }}">
							</label>
							<label class="form-group">
								<input type="submit" value="" id="submit-view" class="icon view-btn btn-xs">
							</label>
							<label class="form-group">
								<input type="submit" value="" id="submit-edit" class="icon edit-btn btn-xs">
							</label>
						</form>
					{% endif %}
					<ul id="perms-list">
						{% for perm in permissions %}
							<li>
								{% if admin %}
									<form action="/rm_permission" method="POST" style="display: inline-block">
										<label>
											<input type="hidden" name="friend_id" value="{{ perm.user_id }}">
										</label>
										<label>
											<input type="hidden" name="trip_id" value="{{ trip.trip_id }}">
										</label>
										<label>
											<input type="submit" value="" class="icon delete-btn edit-perms btn btn-default btn-xs">
										</label>
									</form>
								{% endif %}
								<a href="/user{{ perm.user_id }}/profile">{{ perm.user.fname }}</a>
								{% if perm.can_edit %}
									(editor)
								{% endif %}
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
<!-- Details -->
			<div class="col-xs-12 col-sm-6">
				<div class="content floater-box scrollable">
					<h4>Details</h4>
					<ul>
						<li>
							Destination: {{ trip.address }}
						</li>
						<li>
							{% if admin %}
								<button type="button" class="icon edit-btn btn btn-default btn-xs" data-toggle="modal" data-target="#edit-start"></button>
							{% endif %}
							Start: {{ trip_start_dsply }}
						</li>
						<li>
							{% if admin %}
								<button type="button" class="icon edit-btn btn btn-default btn-xs" data-toggle="modal" data-target="#edit-end"></button>
							{% endif %}
							End: {{ trip_end_dsply }}
						</li>
					</ul>
				</div>

<!-- Edit Start Modal -->
				<!-- Modal Window-->
				<div id="edit-start" class="modal fade" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
				    	<div class="modal-content my-modal">
				    		<div class="modal-header centered">
				    			<button type="button" class="close" data-dismiss="modal">&times;</button>
				        		<h4 class="modal-title">Edit Start Date</h4>
				      		</div>
				      		<div class="modal-body centered">

								<!-- Edit Destination Form -->
						        <form action="/edit_start" method="POST">
						        	<label class="form-group">
						        		<input class="form-control" name="start" type="date">
						        	</label>
						        	<label class="form-group">
						        		<input class="form-control" name="trip_id" type="hidden" value={{ trip.trip_id }}>
						        	</label>
						        	<label class="form-group">
						        		<input class="form-control btn btn-info" type="submit" value="Submit">
						        	</label>
						        </form>

						    </div>
				  		</div>
					</div>
				</div>
<!-- Edit End Modal -->
				<!-- Modal Window-->
				<div id="edit-end" class="modal fade" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
				    	<div class="modal-content my-modal">
				    		<div class="modal-header centered">
				    			<button type="button" class="close" data-dismiss="modal">&times;</button>
				        		<h4 class="modal-title">Edit End Date</h4>
				      		</div>

				      		<div class="modal-body centered">
								<!-- Edit Destination Form -->
						        <form action="/edit_end" method="POST">
						        	<label class="form-group">
						        		<input class="form-control" name="end" type="date">
						        	</label>
						        	<label class="form-group">
						        		<input class="form-control" name="trip_id" type="hidden" value={{ trip.trip_id }}>
						        	</label>
						        	<label class="form-group">
						        		<input class="form-control btn btn-info" type="submit" value="Submit">
						        	</label>
						        </form>

						    </div>
				  		</div>

					</div>
				</div>
			</div>
		</div>
<!-- Agenda -->
		<div class="row">	
			<div class="col-xs-12">
				<div class="content" id="agenda" data-trip="{{ trip.trip_id }}" data-start="{{ trip_start_str }}" data-end="{{ trip_end_str }}">
					<h4>Agenda</h4>
					<div class="scrollable">
						<table>
							<thead>
								{% for day in trip.days %}
								<th style="text-align: center">
									<h5>Day {{ day.day_num }}</h5>
								</th>
								{% endfor %}
							</thead>
							<tbody>
								<tr>
								{% for day in trip.days %}
									<td>
										<ul>
											{% for event in day.events %}
												<li class="event">
													<p data-toggle="tooltip" title="{{ event.description }}">
														{{ event.title }}
													</p>
													{% if admin %}
														<form action="/rm_event" method="POST" style="display: inline-block">
															<label>
																<input type="hidden" name="event_id" value="{{ event.event_id }}">
															</label>
															<label>
																<input type="hidden" name="trip_id" value="{{ trip.trip_id }}">
															</label>
															<label>
																<input type="submit" value="" class="icon delete-btn edit-perms btn btn-default btn-xs">
															</label>
														</form>
													{% endif %}

													{% if event.url %}
													<a href={{ event.url }} target="_blank"data-toggle="tooltip" title="View on Eventbrite">
														<img src="/static/img/eventbrite.png" class="icon">
													</a>
													{% endif %}



												</li>
											{% endfor %}
										</ul>
									</td>
								{% endfor %}
								</tr>
							</tbody>
						</table>
					</div>

					<!-- Modal Button -->
					{% if can_edit %}
						<button type="button" class="btn btn-info" data-toggle="modal" data-target="#my-modal">Create Event</button>
					{% endif %}
					<button type="button" class="btn btn-default" id="gen-pdf">
						PDF
					</button>
<!-- Create Event Modal -->
					<!-- Modal Window-->
					<div id="my-modal" class="modal fade" role="dialog">
						<div class="modal-dialog">

							<!-- Modal content-->
					    	<div class="modal-content my-modal">
					    		<div class="modal-header centered">
					    			<button type="button" class="close" data-dismiss="modal">&times;</button>
					        		<h4 class="modal-title">Create Event</h4>
					      		</div>
					      		<div class="modal-body centered">

									<!-- Create Event Form -->
							        <form action="/create_event" method="POST">
							        	<label class="form-group">Title:
							        		<input class="form-control" name="title" type="text" placeholder="Balloonicorn's Fiesta">
							        	</label>
							        	<br>
							        	<label class="form-group">Start:
							        		<input class="form-control" name="start" type="datetime-local">
							        	</label>
							        	<br>
							        	<label class="form-group">End:
							        		<input class="form-control" name="end" type="datetime-local">
							        	</label>
							        	<br>
							        	<label>
							        		<input class="form-control" name="location" type="text" placeholder="location">
							        	</label>
							        	<br>
							        	<label class="form-group">
							        		<input class="form-control btn btn-info" type="submit" value="Submit">
							        	</label>
							        </form>
							    </div>
					  		</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}



{% block scripts %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.debug.js"></script>  -->
<script>

// Functions

function getEvents() {

	$.get("/token", function (result) {
		var parsedJSON = JSON.parse(result);
		var token = parsedJSON.token

		var tripId = $("#agenda").data("trip");
		var latitude = $("#nearby-events").data("latitude");
		var longitude = $("#nearby-events").data("longitude");

		var trip_start = $("#agenda").data("start");
		var trip_end = $("#agenda").data("end");

		var data = {token: token,
					"location.latitude": latitude,
					"location.longitude": longitude,
					"location.within": "10mi",
					"start_date.range_start": trip_start,
					"start_date.range_end": trip_end
					},
			url = "https://www.eventbriteapi.com/v3/events/search/"

			// request events
			$.get(url, data, function(result) {
				var topEvents = result.events;
			

				// add event names to the dom
				topEvents.forEach(function(event) {
							// var addLink = $('<a>')
							// 	.attr('href', "/add_event/" + event.id + "/" + tripId)
							// 	.attr('class', "btn btn-default btn-xs")
							// 	.text('+')
							// var nameLink = $('<a>')
							// 	.attr('href', event.url)
							// 	.attr('target', "_blank")
							// 	.text(event.name.text)

							// $("#events-list").append(addLink)
							// 				 .append(nameLink)

							var adderBtn = $('<a>')
								.attr('href', '/add_event/' + event.id + '/' + tripId)
								.attr('class', 'btn btn-default btn-xs')
								.attr('id', event.id)
								.text(event.name.text)
								
							$("#events-list").append(adderBtn)
				});
			});
	});
};

function submitViewPermission(evt) {
	evt.preventDefault();

	var tripId = $("#agenda").data("trip");
	var formInputs = { tripId: $("#agenda").data("trip"), friendId: $("#friend_id").val(), canEdit: 0 };

	$.post("/add_permission", formInputs, function (result) {

		// Is there a way to refresh only one div?
		$.ajax({
			url: "",
			context:  $('#perms-list'),
			success: function () {
				$('#perms-list').html(result);
			}
		});
	});	
}

function submitEditPermission(evt) {
	evt.preventDefault();
	var formInputs = { tripId: $("#agenda").data("trip"), friendId: $("#friend_id").val(), canEdit: 1 };

	$.post("/add_permission", formInputs, function (result) {
		// alert("Edit success");
		}
	);
}

function setupTooltips() {
	$(".delete-btn").attr("data-toggle", "tooltip")
					.attr("title", "Delete");

	$(".edit-btn").attr("data-toggle", "tooltip")
					.attr("title", "Edit");

	$(".view-btn").attr("data-toggle", "tooltip")
					.attr("title", "View");				
}

function toggleTooltip() {
    $('[data-toggle="tooltip"]').tooltip(); 
}

function generatePDF() {
	var formInputs = { tripId: $("#agenda").data("trip") };

	$.post("/pdf", formInputs, function (result) {
		resultJSON = JSON.parse(result)
		//var msg = resultJSON.msg
		// console.log(msg)
		var filename = resultJSON.filename

		var url = "/itinerary" + $("#agenda").data("trip")
		window.open(url, "_blank");
	})
};

//////////////////////////////////////////////////////////////////

// Event listeners


	// On-ready event lisiteners
$(document).ready(setupTooltips);
$(document).ready(toggleTooltip);
// $(document).ready(getEvents);

	// Clickable event listeners
$('#submit-view').on('click', submitViewPermission);
$("#submit-edit").on('click', submitEditPermission);
$("#gen-pdf").on('click', generatePDF);

</script>

{% endblock %}