{% extends 'base.html' %}

{% block title %}{{ trip.title }}{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-3">		
		<!-- Nearby Events-->
			<div id="nearby-events" class="content" data-latitude={{ trip.latitude }} data-longitude={{ trip.longitude }}>
				{% if can_edit %}
					<div>
						<h3>Events Near {{ trip.city }}</h3>
						<h6><i>Powered by Eventbrite</i></h6>
					</div>

					<button id="toggle-events" class="btn btn-default btn-sm hidden">Show <span class="toggle-text">Events</span><span class="toggle-text" style="display: none">Filters</span></button>
					<div id="events-div" class="scrollable" style="display: none; height: 400px">
						<img id='loading-img' style="width: 60px; margin: 0 auto" src="/static/img/loading.gif" class='hidden'>
						<div id="events-list"></div>
					</div>
					<div id="filters-div">
						<!-- Event Filters -->
						<form id="event-filters">
						<hr>
							<label class="form-group">
								<h4>Category</h4>
								<select class="multiselect" name="categories" id="categories" multiple="multiple">
								    <option value="118">Auto, Boat & Air</option>
									<option value="101">Business & Professional</option>
									<option value="111">Charity & Causes</option>
									<option value="113">Community & Culture</option>
									<option value="115">Family & Education</option>
									<option value="106">Fashion & Beauty</option>
									<option value="104">Film, Media & Entertainment</option>
									<option value="110">Food & Drink</option>
									<option value="112">Government & Politics</option>
									<option value="107">Health & Wellness</option>
									<option value="119">Hobbies & Special Interest</option>
									<option value="117">Home & Lifestyle</option>
									<option value="103">Music</option>
									<option value="105">Performing & Visual Arts</option>
									<option value="114">Religion & Spirituality</option>
									<option value="102">Science & Technology</option>
									<option value="116">Seasonal & Holiday</option>
									<option value="108">Sports & Fitness</option>
									<option value="109">Travel & Outdoor</option>
									<option value="199">Other</option>
								</select>
							</label>
							<hr>
							<label class="form-group">
								<h4>Distance</h4>
								<input id="distance-slider" class="distance" type="range" min="1" max="50" value="10" step="1" style="display:inline-block"/>
								<input id="distance" class="distance form-control" type="number" min="1" max="50" value="10" style="display:inline-block; width: 60px" required>
								</label>
							<hr>
							<label class="form-group">
								<h4>Price</h4>
								<input id="price-free" type="checkbox" name="price" value="free" checked> Free
								<input id="price-paid" type="checkbox" name="price" value="paid" checked> Paid
							</label>
							<hr>
						<!-- 'Retrieve Events' button -->
							<label>
								<input type="submit" value="Search" id="retrieve-events-btn" class="btn btn-default">
							</label>
						</form>
					</div>


				{% endif %}
			</div>
	</div>
	
	<div class="col-xs-9">
		<div class="row">
<!-- Permissions -->
			<div class="col-xs-12 col-sm-6">
				<div class="content floater-box">
					<h3>Permissions</h3>
					{% if admin %}
						<form>
							<label class="form-group">
								<select id="friend_id" data-friend-ids="{{ friend_ids }}">
									{% for name, friend_id in friends %}
										<option value="{{ friend_id }}">
											{{ name }}
										</option>
									{% endfor %}
								</select>
							</label>
							<label class="form-group">
								<input type="hidden" name="trip_id" value="{{ trip.trip_id }}">
							</label>
							<label class="form-group">
								<input type="submit" value="" id="submit-view" class="icon view-btn btn-xs">
							</label>
							<label class="form-group">
								<span class="edit-span">
									<input type="submit" value="" id="submit-edit" class="icon edit-btn btn-xs">
								</span>
							</label>
						</form>
					{% endif %}
					<div class="scrollable" style="height: 70px">
						<ul id="perms-list">
							{% for perm in permissions %}
								<li>
									{% if admin %}
										<form action="/rm_permission" method="POST" style="display: inline-block">
											<label>
												<input type="hidden" name="friend_id" value="{{ perm.user_id }}">
											</label>
											<label>
												<input type="hidden" name="trip_id" value="{{ trip.trip_id }}">
											</label>
											<label>
												<input type="submit" value="" class="icon delete-btn edit-perms btn btn-default btn-xs">
											</label>
										</form>
									{% endif %}
									<a href="/user{{ perm.user_id }}/profile">{{ perm.user.fname }}</a>
									{% if perm.can_edit %}
										<span id="friend{{ perm.user_id }}">(editor)</span>
									{% else %}
										<span class="hidden" id="friend{{ perm.user_id }}"></span>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
<!-- Details -->
			<div class="col-xs-12 col-sm-6">
				<div class="content floater-box scrollable" id="trip-date-details" data-start-date='{{ trip.start }}' data-end-date='{{ trip.end }}'>
					<h3>Details</h3>
					<ul>
						<li>
							Destination: {{ trip.address }}
						</li>
						<li>
							{% if admin %}
							<span class="edit-span">
								<button type="button" class="icon edit-btn btn btn-default btn-xs" data-toggle="modal" data-target="#edit-start"></button>
							</span>
							{% endif %}
							Start: {{ declare_tz(trip.start, trip.tz_name) | datetime('date') }}
						</li>
						<li>
							{% if admin %}
							<span class="edit-span">
								<button type="button" class="icon edit-btn btn btn-default btn-xs" data-toggle="modal" data-target="#edit-end"></button>
							</span>
							{% endif %}
							End: {{ declare_tz(trip.end, trip.tz_name) | datetime('date', trip_end=True) }}
						</li>
					</ul>
				</div>

<!-- Edit Start Modal -->
				<!-- Modal Window-->
				<div id="edit-start" class="modal fade" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
				    	<div class="modal-content my-modal">
				    		<div class="modal-header centered">
				    			<button type="button" class="close" data-dismiss="modal">&times;</button>
				        		<h3 class="modal-title">Edit Start Date</h3>
				      		</div>
				      		<div class="modal-body centered">

								<!-- Edit Destination Form -->
						        <form action="/edit_start" method="POST">
						        	<label class="form-group">
						        		<input class="form-control" name="start" type="date">
						        	</label>
						        	<label class="form-group">
						        		<input class="form-control" name="trip_id" type="hidden" value={{ trip.trip_id }}>
						        	</label>
						        	<label class="form-group">
						        		<input class="form-control btn btn-info" type="submit" value="Submit">
						        	</label>
						        </form>

						    </div>
				  		</div>
					</div>
				</div>
<!-- Edit End Modal -->
				<!-- Modal Window-->
				<div id="edit-end" class="modal fade" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
				    	<div class="modal-content my-modal">
				    		<div class="modal-header centered">
				    			<button type="button" class="close" data-dismiss="modal">&times;</button>
				        		<h3 class="modal-title">Edit End Date</h3>
				      		</div>

				      		<div class="modal-body centered">
								<!-- Edit Destination Form -->
						        <form action="/edit_end" method="POST">
						        	<label class="form-group">
						        		<input class="form-control" name="end" type="date">
						        	</label>
						        	<label class="form-group">
						        		<input class="form-control" name="trip_id" type="hidden" value={{ trip.trip_id }}>
						        	</label>
						        	<label class="form-group">
						        		<input class="form-control btn btn-info" type="submit" value="Submit">
						        	</label>
						        </form>

						    </div>
				  		</div>

					</div>
				</div>
			</div>
		</div>
<!-- Agenda -->
		<div class="row">	
			<div class="col-xs-12">
				<div class="content" id="agenda" data-trip="{{ trip.trip_id }}"
												 data-start="{{ trip.start | datetime }}"
												 data-end="{{ trip.end | datetime(trip_end=True) }}">
					<h3>Agenda</h3>
					<div class="scrollable">
						<table>
							<thead>
								{% for day in trip.days %}
								<th style="text-align: center" class="agenda-table">
									<h5>{{ day.start | datetime('date-short') }}: Day {{ day.day_num }}</h5>
								</th>
								{% endfor %}
							</thead>
							<tbody>
								<tr>
								{% for day in trip.days %}
									<td class="agenda-table">
										<div id='day{{ day.day_id }}-events'>
											{% for event in day.events %}
												<div class="event">
													<button type="button"
															class="icon info-btn btn btn-default btn-xs"
															data-toggle="modal"
															data-target="#event{{ event.event_id }}">
													</button>
    												{{ event.title }}

								<!-- Event Details Modal -->
													<!-- Modal Window-->
													<div id="event{{ event.event_id }}" class="modal fade" role="dialog">
														<div class="modal-dialog">

															<!-- Modal content-->
													    	<div class="modal-content my-modal">
													    		<div class="modal-header centered">
													    			<button type="button" class="close" data-dismiss="modal">&times;</button>
													        		<h3 class="modal-title">{{ event.title }}</h3>
													        		{% if event.address %}
													        		<h5>{{ event.address }}</h5>
													        		{% endif %}
													        		<h5>{{ convert_to_tz(declare_tz(event.start, 'utc', result='aware'), trip.tz_name) | datetime('time') }}
													      				- {{ convert_to_tz(declare_tz(event.end, 'utc', result='aware'), trip.tz_name) | datetime('time')  }}
													      			</h5>
													      		</div>
													      		<div class="modal-body centered">
												      			<!-- Event details -->
													      			<div>
																		{% if not event.url %}
																		<button type="button"
																				data-id="{{ event.event_id }}"
																				class="icon edit-btn btn btn-default btn-xs edit-description">
																		</button>

																		<div id="new-description-form-{{ event.event_id }}" class="hidden">
													      					<textarea id="new-description-{{ event.event_id }}" style="display:block; margin: 0 auto" rows="6" cols="50">{{ event.description }}</textarea>
													      					<button type="button"
													      							class="btn btn-info cancel-description"
													      							data-id="{{ event.event_id }}">
													      							Cancel
													      					</button>
													      					<button type="button"
													      							class="btn btn-info submit-description"
													      							data-id="{{ event.event_id }}">
													      							Submit
													      					</button>
													      				</div>

													      				{% endif %}
													      				<p id="old-description-{{ event.event_id }}">
													      					{{ event.description }}
													      				</p>
														      		</div>
														      	<!-- Google Map -->
														      	{% if event.address %}
													      			<iframe
													      				class=""
																	    width="90%"
																	    height="300px"
																	    frameborder="0" style="border:0"
																	    src="https://www.google.com/maps/embed/v1/place?key={{ gg_browser_key }}
																	    	&q={{ event.address }}
																	    	&zoom=8
																	    	&attribution_source=Google+Maps+Embed+API
																	    	&attribution_web_url=http://www.butchartgardens.com/
																	    	&attribution_ios_deep_link_id=comgooglemaps://?daddr=Butchart+Gardens+Victoria+BC" allowfullscreen>
																	</iframe>
																{% endif %}

																<div class="modal-footer centered">
														      		<div>
											      			<!-- FIXME: AJAX updates to this section are super broken -->
														      			{% if event.attendances %}
														      			<h5>Attending: </h5>
															      		<p>
															      			{% for att in event.attendances %}
																				{{ att.user.fname }}
																			{% endfor %}
																		{% endif %}
																		<span id="fname-{{ event.event_id }}" class="hidden">{{ session['fname'] }}</span>
															      		</p>
														      		</div>
																</div>
																
																	<form method='POST' style="display: inline-block">
				<!-- FIXME: this creates multiple identical IDs -->
																		<input id="event-id" value="{{ event.event_id }}" type="hidden">
				<!-- FIXME: Only one of these buttons should appear at one time-->
																	<!-- 'Attend' button -->
																		<input id="attending-btn" type="submit" class="btn btn-info btn-sm" value="Attend">
																	<!-- 'Not Attending' button -->
																		<input id="not-attending-btn" type="submit" class="btn btn-info btn-sm" value="Not Attending">
																	</form>

																	{% if admin %}
																<!-- 'Delete Event' Button -->
																		<form action="/rm_event" method="POST" style="display: inline-block">
																			<label>
																				<input type="hidden" name="event_id" value="{{ event.event_id }}">
																			</label>
																			<label>
																				<input type="hidden" name="trip_id" value="{{ trip.trip_id }}">
																			</label>
																			<label>
																				<input type="submit" value="" class="icon delete-btn edit-perms btn btn-default btn-xs">
																			</label>
																		</form>
																	{% endif %}

																	{% if event.url %}
																<!-- 'View On Eventbrite' Button -->
																	<a href="{{ event.url }}" target="_blank" data-toggle="tooltip" title="View on Eventbrite">
																		<img src="/static/img/eventbrite.png" class="icon">
																	</a>
																	{% endif %}

															    </div>
													  		</div>
														</div>
													</div>
								<!-- End Modal -->

												</div>
											{% endfor %}
										</div>
									</td>
								{% endfor %}
								</tr>
							</tbody>
						</table>
					</div>

					<!-- Modal Button -->
					{% if can_edit %}
						<button type="button" class="btn btn-info" data-toggle="modal" data-target="#my-modal">Create Event</button>
					{% endif %}
					<button type="button" class="btn btn-default" id="gen-pdf">
						PDF
					</button>
<!-- Create Event Modal -->
					<!-- Modal Window-->
					<div id="my-modal" class="modal fade" role="dialog">
						<div class="modal-dialog">

							<!-- Modal content-->
					    	<div class="modal-content my-modal">
					    		<div class="modal-header centered">
					    			<button type="button" class="close" data-dismiss="modal">&times;</button>
					        		<h3 class="modal-title">Create Event</h3>
					      		</div>
					      		<div class="modal-body centered">

									<!-- Create Event Form -->
							        <form action="/create_event" method="POST">
							        	<label class="form-group">
							        		Title:
							        		<input class="form-control" name="title" type="text" placeholder="Balloonicorn's Fiesta">
							        	</label>
							        	<br>
							        	<label class="form-group">
							        		Start:
							        		<input class="form-control" name="start" type="datetime-local">
							        	</label>
							        	<br>
							        	<label class="form-group">
							        		End:
							        		<input class="form-control" name="end" type="datetime-local">
							        	</label>
							        	<br>
							        	<label>
							        		Location:
							        		<input class="form-control" name="location" type="text">
							        	</label>
							        	<br>
										<label>
											<input type="hidden" name="trip_id" value="{{ trip.trip_id }}">
										</label>
							        	<label>
							        		Description:
							        		<textarea name="description" class="form-control" rows="4" cols="30"></textarea>
							        	</label>
							        	<br>
							        	<label class="form-group">
							        		<input class="form-control btn btn-info" type="submit" value="Submit">
							        	</label>
							        </form>

							    </div>
					  		</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
<script src="/static/jquery.sumoselect.min.js"></script>
<script src="/static/trip_planner.js"></script>

<script>
// Event listeners

$(document).ready(sendReminders);

$('.multiselect').SumoSelect({ okCancelInMulti:true, selectAll:true });
$('#submit-view').click(submitViewPermission);
$('#submit-edit').click(submitEditPermission);
$('#gen-pdf').click(generatePDF);
$('.attending-btn').click(addAttendee);
$('.not-attending-btn').click(rmAttendee);
$('.edit-description').click(editDescription);
$('.submit-description').click(submitDescription);
$('.cancel-description').click(cancelDescription);
$('#retrieve-events-btn').click(getEvents);
$('.distance').on('input', syncDistanceValues);
$('#toggle-events').click(toggleEvents);

</script>
{% endblock %}